@model PIkindergarten.Models.doctor.AppoitementDoc

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AppoitementDoc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.day, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.day, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.day, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.idParent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(m => m.idParent, new List<SelectListItem>
                                                                                  { new SelectListItem{    Text="1", Value="1"}
                                                                                 
                                                   }, "please select your id", new { @class = "form-control etc" })
        
            </div>
        </div>

        <div class="form-group">
        
            <div class="col-md-10">
                <label for="idAvaibility" class="control-label col-md-2"> idAvaibility </label>
                <select name="idAvaibility">
                    @foreach (var avaibility in ViewBag.avaibilities)
                    {
                        <option value="@avaibility["id"]"> @avaibility["id"]</option>
                    }
                </select>
            </div>
        </div>

     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "/GetDoctorAppoitementByDoctorId/1")
</div>
