
@model test_request.Models.daycare.Position

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shelly School HTML Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Shelly - Website">
    <meta name="author" content="merkulove">
    <meta name="keywords" content="">
    <link rel="icon" href="assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/button.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="main-section">
            <header>
                <div class="container">
                    <div class="header-content d-flex flex-wrap align-items-center">
                        <div class="logo"><a href="index.html" title=""><img src="assets/img/logo.png" alt="" srcset="assets/img/01_Logo_2x.png 2x"></a></div>
                        <!--logo end-->
                        <ul class="contact-add d-flex flex-wrap">
                            <li>
                                <div class="contact-info">
                                    <img src="assets/img/icon1.png" alt="">
                                    <div class="contact-tt">
                                        <h4>Call</h4>
                                        <span>+2 342 5446 67</span>
                                    </div>
                                </div>
                                <!--contact-info end-->
                            </li>
                            <li>
                                <div class="contact-info">
                                    <img src="assets/img/icon2.png" alt="">
                                    <div class="contact-tt">
                                        <h4>Work Time</h4>
                                        <span>Mon - Fri 8 AM - 5 PM</span>
                                    </div>
                                </div>
                                <!--contact-info end-->
                            </li>
                            <li>
                                <div class="contact-info">
                                    <img src="assets/img/icon3.png" alt="">
                                    <div class="contact-tt">
                                        <h4>Address</h4>
                                        <span></span>
                                    </div>
                                </div>
                                <!--contact-info end-->
                            </li>
                        </ul>
                        <!--contact-information end-->
                        <div class="menu-btn"><a href="#"><span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></a></div>
                        <!--menu-btn end-->
                    </div>
                    <!--header-content end-->
                    <div class="navigation-bar d-flex flex-wrap align-items-center">
                        <nav>
                            <ul>
                                <li><a class="active" href="index.html" title="">Home</a></li>
                                <li>
                                    <a href="about.html" title="">About</a>
                                    <ul>
                                        <li><a href="events.html" title="">Events</a></li>
                                        <li><a href="event-single.html" title="">Event Single</a></li>
                                        <li><a href="schedule.html" title="">Schedule</a></li>
                                        <li><a href="error.html" title="">404</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="classes.html" title="">Classes</a>
                                    <ul>
                                        <li><a href="class-single.html" title="">Class Single</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="teachers.html" title="">Teachers</a>
                                    <ul>
                                        <li><a href="teacher-single.html" title="">Teacher Single</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="blog.html" title="">Blog</a>
                                    <ul>
                                        <li><a href="post.html" title="">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contacts.html" title="">Contacts</a></li>
                            </ul>
                        </nav>
                        <!--nav end-->
                        <ul class="social-links ml-auto">
                            <li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" title=""><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!--navigation-bar end-->
                </div>
            </header>
            <!--header end-->
            <div class="responsive-menu">
                <ul>
                    <li><a href="index.html" title="">Home</a></li>
                    <li><a href="about.html" title="">About</a></li>
                    <li><a href="events.html" title="">Events</a></li>
                    <li><a href="event-single.html" title="">Event Single</a></li>
                    <li><a href="schedule.html" title="">Schedule</a></li>
                    <li><a href="classes.html" title="">Classes</a></li>
                    <li><a href="class-single.html" title="">Classe Single</a></li>
                    <li><a href="teachers.html" title="">Teachers</a></li>
                    <li><a href="teacher-single.html" title="">Teacher Single</a></li>
                    <li><a href="blog.html" title="">Blog</a></li>
                    <li><a href="post.html" title="">Blog Single</a></li>
                    <li><a href="contacts.html" title="">Contacts</a></li>
                    <li><a href="error.html" title="">404</a></li>
                </ul>
            </div>
            <!--responsive-menu end-->
            <section class="main-banner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-7">
                            <div class="banner-text wow fadeInLeft" data-wow-duration="1000ms">
                                <h2>The Smarter Way to Learn <span>Anything</span></h2>
                                <p>Mauris malesuada enim eget blandit gravida. Duis hendrerit cursus turpis, id mollis est rutrum nec. Sed interdum nisi id libero tincidunt, sit amet vestibulum tortor porttitor. Cras ligula lacus, ullamcorper sed</p>

                                <form class="search-form">
                                    <input type="text" name="search" placeholder="Search Class">
                                    <button>
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="banner-img wow zoomIn" data-wow-duration="1000ms"><img src="assets/img/banner-img.png" alt=""></div>
                            <!--banner-img end-->
                            <div class="elements-bg wow zoomIn" data-wow-duration="1000ms"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--main-banner end-->
            <h2 class="main-title">Shelly</h2>
        </div>
        <!--blog-section end-->
        <section class="newsletter-section">
            <div class="container">
                <div class="newsletter-sec">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="newsz-ltr-text">
                                <h2>Subscribe as Visitor</h2>
                            </div>
                            <!--newsz-ltr-text end-->
                        </div>
                        <div class="col-lg-8">
                            @using (Html.BeginForm("Update_Visitor", "Visitor_Front", FormMethod.Post))
                            {
                                <form class="newsletter-form">
                                    <div class="position-relative form-group">
                                        <input name="Name" id="exampleEmail" placeholder="Name" type="text" class="form-control" value="@ViewBag.visitor["name"]">
                                    </div>
                                    <div class="position-relative form-group">
                                        <input name="Lastname" id="exampleEmail" placeholder="Last Name" type="text" class="form-control" value="@ViewBag.visitor["lastname"]">
                                    </div>
                                    <div class="position-relative form-group">
                                        <input name="Email" id="exampleEmail" placeholder="Email" type="email" class="form-control" value="@ViewBag.visitor["email"]">
                                    </div>
                                    <div class="position-relative form-group">
                                        <input name="Address" id="exampleEmail" placeholder="Address" type="text" class="form-control" value="@ViewBag.visitor["address"]">
                                    </div>
                                    <div class="position-relative form-group">
                                        <input name="Password" id="exampleEmail" placeholder="Password" type="password" class="form-control" value="@ViewBag.visitor["password"]">
                                    </div>
                                    <div class="position-relative form-group">
                                        <input name="Image" id="exampleEmail" placeholder="Image URL" type="text" class="form-control" >
                                    </div>
                                    <div class="position-relative form-group">
                                        <input name="Cin" id="exampleEmail" placeholder="CIN NUMBER" type="number" class="form-control" value="@ViewBag.visitor["cin"]">
                                    </div>
                                    <div class="position-relative form-group">
                                        <input name="Login" id="exampleEmail" placeholder="Username" type="text" class="form-control" value="@ViewBag.visitor["login"]" >
                                    </div>
                                    <div class="position-relative form-group">
                                        <input name="phonenumber" id="exampleEmail" placeholder="Phone Number" type="number" class="form-control" value="@ViewBag.visitor["phonenumber"]">
                                    </div>
                                    <div class="position-relative form-group">
                                        <select name="status">
                                            <option value="0">DIVORCE</option>
                                            <option value="1">MARIE</option>
                                            <option value="2">CELIBATAIRE</option>
                                            <option value="3">VEUF</option>
                                        </select>
                                    </div>

                                    <div class="position-relative form-group">
                                        <input name="Birthday" id="exampleEmail" type="date" class="form-control" value="@ViewBag.visitor["birthday"]" >
                                    </div>
                                    <button class="mt-1 btn btn-primary">Submit</button>
                                </form>
                            }
                            <!--newsletter-form end-->
                        </div>
                    </div>
                </div>
                <!--newsletter-sec end-->
            </div>
        </section>
        @Html.Partial("~/Views/Shared/footer.cshtml")

    </div>
    <script src="assets/js/bundle.min.js"></script>
    <script src="assets/js/button.min.js"></script><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180910402-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-180910402-1');</script>

    <script runat="server">
    void Page_Load(Object sender, EventArgs e)
        {
            // Manually register the event-handling method for
            // the Click event of the Button control.
            Button1.Click += new EventHandler(this.GreetingBtn_Click);
        }

        void GreetingBtn_Click(Object sender,
            EventArgs e)
        {
            // When the button is clicked,
            // change the button text, and disable it.

            Button clickedButton = (Button)sender;
            clickedButton.Text = "...button clicked...";
            clickedButton.Enabled = false;

            // Display the greeting label text.
            GreetingLabel.Visible = true;
        }</script>
</body>
</html>